.tracker1View {
    display: flex;
    flex-direction: row;
}

.backgroundTracker {
    background-color: #f7f8fc;
    background-size: cover; 
    height: 100vh;
    width: 100vw; 
    display:flex;
    flex-direction: column;
}

.headerTracker{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    border-bottom: solid 1px rgba(165, 163, 163, 0.31);
}

.dropdownContainer {
    width: 300px;
    height: 50px;
    padding: 8px 25px;
    box-shadow: 0 15px 30px 0 rgba(20, 50, 90, 0.05);
    border: 0;
    border-radius:4px; 
}

.dropdownCountry {
    font-size: 16px;
    font-weight: bold;
}
    
.updateData {
    font-size: 16px;
    font-weight: bold;
    padding-right: 15px;
    margin-bottom: 12px;
}

.cardsAndMapContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
}

.mapTracker1{
    padding-right: 10px;
}

@media only screen and (max-width: 480px) {
    .tracker1View {
        display: flex;
        flex-direction: column;
      
    }

    .headerTracker {
        margin-top: 180px;
    }

    .dropdownContainer {
        width: 100%;
    }

    .cardsAndMapContainer {
        display: flex;
        flex-direction: column;
        width: 440px;
    }

    .cardsContainer {
        display: flex;
        flex-direction: row;
        padding: 0px;
        border-right: none;
        width: 100%;
        left: 0;
    }

    .mapTracker1 {
        padding-right: 0;
    }
}


@media only screen and (min-width: 992px) {
    .tracker1View {
        flex-direction: row;
    }

    .dropdownContainer {
        width: 300px;
    }

    .cardsAndMapContainer {
        flex-direction: row;
    }

    .mapTracker1 {
        padding-right: 10px;
    }
}