/* .cardContainer {
    animation: bounce 5s ease-in-out infinite;
    -webkit-animation: bounce 5s ease-in-out infinite;
} */
.bounce-delay {
    animation-delay: 0.5s; 
    -webkit-animation-delay: 0.5s;
  } 


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-1rem);   
    }
  
    60% {
      transform: translateY(-0.5rem);  
    }
  }
  