.tracker03Container{
    display: flex;
    flex-direction: row;
}

.tenCountriesContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}
.trackerTitle {
    color: #121158;
    font-size: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 600;
}

.tenCountriesRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;

}

.tenCountriesCard {
    display: flex;
    flex-direction: row;
}