.cardDataContainer {
    box-shadow: 0 15px 30px 0 rgba(20, 50, 90, 0.05);
    border-radius: 4px;
    padding-left: 6px;
    width: 232px;
    height: 103.89px;
    padding: 0px 15px;
    margin: 30px;
    background-color: white;
    transition: transform 0.3s ease;
}

.cardDataContainer:hover {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}
.containerDataIcon .iconContent {
    width: 140px;
    height: 140px;
    /*position: absolute;*/
    right: -30px;
    top: -30px;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    opacity: 0.1;
}

.iconContent {
    text-align: right;
    background: transparent;
}

.iconContent img{
    margin-left: auto;
}

.imgIcon {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}


.dataGlobalstyleBlue {
    color: #3639ae ;
    font-size: 30px;
    font-weight: bold;
}


.dataTitleGlobal{
    color: black;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-bottom: solid 1px rgba(156, 155, 155, 0.149);
    padding-top: 6px;
    padding-bottom: 6px;
}

.dataGlobalstyleEnglishRed{
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.dataGlobalstyleGreen{
    color: #82c519;
    font-size: 30px;
    font-weight: bold;
}

.dataGlobalstyleLightBlue{
    color: #2c6dff;
    font-size: 30px;
    font-weight: bold;
}


.dataGlobalstyleOrange{
    color: #ff6a07;
    font-size: 30px;
    font-weight: bold;
}

.dataGlobalstyleRed{
    color: #b70202;
    font-size: 30px;
    font-weight: bold;
}


/*
<div className="iconContent border-blue-700 border-solid border-2">
          <img src={props.iconCard} alt="" /> 
         
    //import card01 from '../../../../src/images/covid-blue.svg'     
         
          iconCard={card01}
          */