.countryContainer{
    height:48px;
    padding: 9px;
    width: 359px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow:  0px 1px 10px rgba(0, 0, 0, 0.06);
    border: 1px #eee solid;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.countryContainer:hover{
    transform: scale(1.1);
}

.topTenInfoData{
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;

}

.toptenFlag{
    height: 21.11px;
    width: 40px;
    padding-right: 5px;
}

.toptenFlag img {
    box-shadow:  0px 1px 10px rgba(255, 255, 255, 0.06);
    border: 1px #eee solid;
    border-radius: 3px;
    
}

.toptenCountry {
    font-size: 13px;
}

.toptenConfirmedCase{
    color:#121158;
    font-weight: bold;
    font-size: 13px;
}
