.cardCasesContainer {
    height: 10%;
    padding: 2%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.cardCasesTitle {
    width: auto;
    font-weight: bold;
}

.todayCasesText {
    font-size: 10px;
    font-weight: bold;
    color: #999999;
    text-align: center;
    padding: 5px 10px;
}
.updatedCasesContainer {
    margin-left: 10px;
    border-radius: 2px;
    background-color: white;
}

.cardCasesData {
    font-size: 28px;
    font-weight: bold;
}
