.cardCasesContainer {
    height: 66.62px;
    padding: 20px 20px 15px 20px;
    width: 359px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 2px solid transparent;
    transition: transform 0.3s ease;
}

.cardCasesContainer:hover{
    transform: scale(1.1);
}

.cardCasesTitle {
    width: auto;
    font-weight: bold;
}

.todayCasesText {
    font-size: 10px;
    font-weight: bold;
    color: #999999;
    text-align: center;
    padding: 5px;
}

.updatedCasesContainer {
    margin-left: 10px;
    border-radius: 2px;
    height: 27.5px;
    background-color: white;
}

.cardCasesData {
    font-size: 28px;
    font-weight: bold;
}

@media (max-width: 480px) {
    .updatedCasesContainer {
        margin-right: 2px;
    }
}